In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.1'

In [6]:
df = pd.read_csv('../ny_taxi_data/yellow/yellow_tripdata_2021-01.csv', nrows=100)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:61822/ny_taxi')

In [17]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [19]:
df_iter = pd.read_csv('../ny_taxi_data/yellow/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [20]:
df = next(df_iter)
len(df)

100000

In [21]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [23]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.82 s, sys: 70.1 ms, total: 2.89 s
Wall time: 5.38 s

1000

In [25]:
from time import time

In [26]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chunk ... , took %.3f second' % (t_end - t_start))

inserted another chunk ... , took 5.492 second
inserted another chunk ... , took 5.358 second
inserted another chunk ... , took 5.311 second
inserted another chunk ... , took 5.409 second
inserted another chunk ... , took 5.400 second
inserted another chunk ... , took 5.252 second
inserted another chunk ... , took 5.303 second
inserted another chunk ... , took 5.448 second
inserted another chunk ... , took 5.378 second
inserted another chunk ... , took 5.684 second
inserted another chunk ... , took 5.386 second

/var/folders/ml/q_brw26x29x9jzpbh5ryq7jh0000gn/T/ipykernel_88312/1045109321.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk ... , took 5.252 second
inserted another chunk ... , took 3.472 second

StopIteration: