In [11]:
import requests
import argparse

import pandas as pd
from sqlalchemy import create_engine
from time import time

In [26]:
pd.__version__

'2.1.4'

In [32]:
engine = create_engine(f'postgresql://root:root@localhost:55011/ny_taxi')

In [33]:
df_iter = pd.read_csv('./data/green_tripdata_2019-09.csv.gz', iterator=True, compression='gzip')
df = next(df_iter)

/var/folders/ml/q_brw26x29x9jzpbh5ryq7jh0000gn/T/ipykernel_10780/697291925.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

In [34]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [36]:
df.head(n=0).to_sql(name='hw-1', con=engine, if_exists='replace')

0

In [37]:
df.to_sql(name='hw-1', con=engine, if_exists='append')
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='hw-1', con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chunk ... , took %.3f second' % (t_end - t_start))

StopIteration:

In [38]:
df = pd.read_csv('./data/taxi+_zone_lookup.csv')
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [39]:
df.to_sql(name='hw-1-lookup', con=engine, if_exists='append')

265